<h1 class="text-2xl font-bold">Project : {{ projectName }}</h1>

<div class="task-board flex gap-4">
  <div class="task-column" *ngFor="let status of statuses">
    <h2 class="text-l font-bold">
      {{ status }} ({{ getTasksByStatus(status).length }})
    </h2>

    <div
      cdkDropList
      [id]="status"
      [cdkDropListData]="getTasksByStatus(status)"
      [cdkDropListConnectedTo]="statuses"
      class="task-list"
      (cdkDropListDropped)="drop($event, status)"
    >
      <div
        *ngFor="let task of getTasksByStatus(status)"
        cdkDrag
        class="task-card"
      >
        <div class="task-header">
          <h4 class="text-left">{{ task.title }}</h4>
          <button class="delete-btn" (click)="archiveTask(task)">🗑️</button>
        </div>
        <p class="text-left">{{ task.description }}</p>
        <div
          *ngIf="task.doneBy && status != 'TO_DO'"
          class="text-left flex items-center gap-2 mt-2"
        >
          <img
            [src]="
              'https://ui-avatars.com/api/?name=' +
              task.doneBy.username.replace(' ', '+')
            "
            class="w-8 h-8 rounded-full"
            [title]="'Done by: ' + task.doneBy.username"
            alt="User avatar"
          />
          <span class="text-sm text-gray-600">{{ task.doneBy.username }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="status === 'TO_DO'" class="add-task-form">
      <button (click)="showAddTaskForm = !showAddTaskForm" class="add-btn">
        + Add a card
      </button>
      <div *ngIf="showAddTaskForm">
        <input
          [(ngModel)]="newTask.title"
          placeholder="Title"
          class="input-field"
        />
        <textarea
          [(ngModel)]="newTask.description"
          placeholder="Description"
          class="textarea-field"
        ></textarea>

        <button (click)="addTask()" class="add-btn">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Poubelle flottante -->
<div class="trash-fab" (click)="showArchived = !showArchived">
  😶‍🌫️ {{ showArchived ? "Fermer" : "Tâches archivées" }}
</div>

<div class="trash-container" *ngIf="showArchived">
  <h3>Tâches archivées ({{ getArchivedTasks().length }})</h3>
  <div *ngFor="let task of getArchivedTasks()" class="archived-task">
    <div class="task-header">
      <h4>{{ task.title }}</h4>
      <div class="actions min-w-16">
        <button (click)="restoreTask(task._id)">🔁</button>
        <button (click)="deleteTask(task._id)">❌</button>
      </div>
    </div>
    <p>{{ task.description }}</p>
  </div>
</div>
