<aside class="w-64 bg-white shadow-md h-screen p-4 fixed left-0 top-0">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold mb-4 custom-title">Create a new board</h2>
</div>
      <form [formGroup]="projectForm" (ngSubmit)="addProject()" class="project-form">
          <input formControlName="name" placeholder="Nom du projet" required />
          <textarea formControlName="description" placeholder="Description"></textarea>
          <button type="submit" [disabled]="!projectForm.valid">Add</button>
      </form>
  </aside>
  <body>
    
  <main >
      <div class="projects-list grid grid-cols-2 gap-6">
          <div *ngFor="let project of projects" class="project-card relative">
              <!-- Actions en haut à droite -->
              <div class="absolute top-2 right-2 flex gap-2">
                  <button (click)="deleteProject(project._id)" class="icon-btn">🗑️</button>
                  <button *ngIf="!project.archived" (click)="archiveProject(project._id)" class="icon-btn">📦</button>
                  <button *ngIf="project.archived" (click)="unarchiveProject(project._id)" class="icon-btn">🔓</button>
              </div>

              <!-- Contenu du projet -->
              <h2>{{ project.name }}</h2>
              <p>{{ project.description }}</p>
              <p><strong>Owner</strong> {{ project.owner?.email }}</p>

              <!-- Tâches -->
              <div class="tasks">
                  <h4>Tasks</h4>
                  <ul>
                      <li *ngFor="let task of project.tasks">{{ task.title }} ({{ task.status }})</li>
                  </ul>
              </div>

              <!-- Membres -->
              <div class="members ">
                  <h4>Co-worker</h4>
                  <ul>
                      <li *ngFor="let member of project.members">
                          {{ member.email }}
                          <button (click)="removeMember(project._id, member.email)">❌</button>
                      </li>
                  </ul>
<div class="add-member-container">
                  <input [(ngModel)]="newMemberEmail[project._id]" placeholder="Email du membre">
                  <br><br>
                  <button (click)="addMember(project._id, newMemberEmail[project._id])">
                    <i class="fas fa-user-plus"></i>
                  </button>
</div>
                                </div>
          </div>
      </div>
  </main>
  </body>
