<nav class="navbar">
    <div class="brand">
        <a routerLink="/"> Task4You</a>
    </div>
    <div class="nav-links">
        <a *ngIf="isLoggedIn" routerLink="project"><i class="fas fa-folder"></i> Projects</a>
        <a *ngIf="isLoggedIn" routerLink="tasks"><i class="fas fa-tasks"></i> Workspace</a>
        <a *ngIf="isLoggedIn" routerLink="dashboard2"><i class="fas fa-chart-line"></i> Dashboard</a>
    </div>

    <div class="nav-links">
        <div class="auth-icons">
            <a *ngIf="isLoggedIn" routerLink="profile"><i class="fas fa-user"></i></a>
            <a *ngIf="!isLoggedIn" routerLink="login"><i class="fas fa-sign-in-alt"></i></a>
            <a *ngIf="isLoggedIn" (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</nav>