<div class="flex">
    <!-- Sidebar pour les projets -->
    <aside class="w-64 bg-white shadow-md h-screen p-4 fixed left-0 top-0">
        <div class="flex justify-between items-center mb-4">

        <h2 class="text-xl font-bold mb-4">📁 Mes Projets</h2>
        <a routerLink="/project" class="text-xl font-bold bg-gray-200 px-2 rounded-md hover:bg-gray-300 cursor-pointer">+</a>
        </div>
        <ul class="space-y-2">
            <li class="p-2 bg-gray-100 rounded-md hover:bg-gray-300 cursor-pointer"
                *ngFor="let project of projects" 
                (click)="selectProject(project._id)">
                {{ project.name }}
            </li>

        </ul>
    </aside>

    <!-- Contenu principal -->
    <div class="ml-64 flex-1 p-6" *ngIf="selectedProject">
        <header class="mb-6">
            <h1 class="text-2xl font-bold">Project Board</h1>
        </header>

     <div class="kanban-board flex space-x-4">
            <div class="column w-1/3 bg-gray-100 p-4 rounded-lg shadow-md" *ngFor="let status of statuses">
                <h2 class="text-lg font-bold">{{ status }} ({{ taskColumns[status].length || 0 }})</h2>
                
                <div cdkDropList 
                     [cdkDropListData]="taskColumns[status]" 
                     (cdkDropListDropped)="drop($event, status)">
                    
                    <div *ngFor="let task of taskColumns[status]" 
                         cdkDrag 
                         class="card bg-blue-200 p-2 mt-2 rounded-md cursor-pointer">
                        {{ task.title }}
                    </div>
                </div>
            </div>
        </div>

     
    </div>
</div>
