<body>
  <div class="h-screen flex flex-col items-center justify-center">
    <h1 class="text-5xl font-extrabold text-[#860d70]">
      Bienvenue sur Task4You
    </h1>
    <p class="text-gray-700 mt-4 text-lg">
      Gérez vos tâches et projets efficacement
    </p>
    <a
      routerLink="login"
      class="mt-6 bg-[#860d70] text-white py-2 px-6 rounded-lg shadow-lg hover:bg-[#750c60]"
      >Commencer</a
    >

    <section class="features">
      <div class="feature">
        <i class="fas fa-tasks"></i>
        <h3>Manage Your Tasks</h3>
        <p>Create, assign, and track your tasks in real time.</p>
      </div>
      <div class="feature">
        <i class="fas fa-users"></i>
        <h3>Easy Collaboration</h3>
        <p>Work as a team with shared boards and lists.</p>
      </div>
      <div class="feature">
        <i class="fas fa-chart-line"></i>
        <h3>Project Tracking</h3>
        <p>Visualize progress and analyze productivity.</p>
      </div>
    </section>
  </div>
</body>
