<body>
<div class="container">
  <h2>Gestion des Tâches</h2>
<br>
  <div class="project-form">
    <input [(ngModel)]="newTask.title" placeholder="Titre de la tâche" />
    <textarea [(ngModel)]="newTask.description" placeholder="Description"></textarea>

   

    <select [(ngModel)]="newTask.project">
      <option value="" disabled selected>Choisir un projet</option>
      <option *ngFor="let project of projects" [value]="project._id">
        {{ project.name }}
      </option>è
    </select>
    <button (click)="addTask()">Ajouter Tâche</button>
  </div>

  <div class="task-board">
    <div class="task-column" *ngFor="let status of statuses">
      <h3>{{ status }}</h3>
  
      <div 
        cdkDropList 
        [id]="status" 
        [cdkDropListData]="taskColumns[status]" 
        [cdkDropListConnectedTo]="statuses"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        
        <div *ngFor="let task of taskColumns[status] " cdkDrag class="task-card">
          <div class="task-header">
            <h4>{{ task.title }}</h4>
            <button class="delete-btn" (click)="deleteTask(task._id!)">🗑️</button>
            
      <!-- <button *ngIf="!task.archived" (click)="archiveTask(task._id!)">📥 </button>
        <button *ngIf="task.archived" (click)="unarchiveTask(task._id!)">📤 </button>
        -->

          </div>
          <p>{{ task.description }}</p>
        </div>
  
      </div>
      
    </div>
  </div>

</div>
</body>
