<aside class="w-64 bg-white shadow-md h-screen p-4 fixed left-0 top-0">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold mb-4 custom-title">📁 Your boards</h2>
    <a routerLink="/project" class="text-xl font-bold bg-gray-200 px-2 rounded-md hover:bg-gray-300 cursor-pointer">+</a>
  </div>
  <ul class="space-y-2">
      <li class="p-2 bg-gray-100 rounded-md hover:bg-gray-300 cursor-pointer"
          *ngFor="let project of projects" 
          (click)="selectProject(project._id)">
          {{ project.name }}
      </li>
  </ul>
</aside>

<body>
  <div class="container">
    <div *ngIf="!selectedProject" class="landing-page">
      <h1>Welcome to Task4You!</h1>
      <p>Select your board to start managing your tasks.</p>
      <button routerLink="/project" class="create-project-btn">Create a new board</button>
  </div>
  <div *ngIf="selectedProject" >
    <div class="task-board">
      <div class="task-column" *ngFor="let status of statuses">
        <h2 class="text-l font-bold">{{ status }} ({{ taskColumns[status].length || 0 }})</h2>
    
        <div 
          cdkDropList 
          [id]="status" 
          [cdkDropListData]="taskColumns[status]" 
          [cdkDropListConnectedTo]="['TO_DO', 'DOING', 'DONE']"
          class="task-list"
          (cdkDropListDropped)="drop($event)">
          
          <div *ngFor="let task of taskColumns[status]" cdkDrag [cdkDragData]="task" class="task-card">
            <div class="task-header">
              <h4>{{ task.title }}</h4>
              <button class="delete-btn" (click)="deleteTask(task._id!)">🗑️</button>
            </div>
            <p>{{ task.description }}</p>
          </div>

          <!-- Formulaire pour ajouter une tâche -->
          <div *ngIf="status === 'TO_DO'" class="add-task-form">
              <button (click)="showAddTaskForm = !showAddTaskForm" class="add-btn"> + Add a card</button>
              <br>
              <div *ngIf="showAddTaskForm" class="form-container">

            <input 
              [(ngModel)]="newTask.title" 
              placeholder="Enter a title" 
              class="input-field" required
            />
            <textarea 
              [(ngModel)]="newTask.description" 
              placeholder="Enter a Description " 
              class="textarea-field" required
            ></textarea>
            <button (click)="addTask()" class="add-btn">Add card</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
